body {
    background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
}
h2 {
    text-align: center;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 20px;

}
img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 35%;
}
p {
    text-align: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    font-size: 18px;
    list-style: circle;
    padding-left: 60px;
}
.page-content {
    background-color: rgb(233, 236, 245);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 1300px;
    margin: 0 auto;
    line-height: 1.5;
    padding: 30px 60px;
}
.concept, .theories {
    font-size: 20px;
    margin: 20px;
}
.learn-more {
    text-decoration: none;
    color: rgb(27, 139, 184);
}
.learn-more:hover {
    text-decoration: underline;
}
button {
    display: block;
    margin: 20px auto;
    color: #ffff;
    background-color: rgb(107, 140, 238);
    transition: all 150ms ease-in-out;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(79, 138, 255, 0.5);
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.coder {
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}
